*{
    font-family: "IBM Plex Serif", serif;
    font-style: normal;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body
{   
   background-image:url(../assest/img/solid-concrete-wall-textured-backdrop.jpg);
}
.Header__index
{
    display: flex;
    flex-wrap: nowrap;
    background: none;
    animation: Titulo 6s ease .5s  normal both;
}
header h1{
    background: local;
    font-size: 4rem;
}
@keyframes Titulo{
    from 
    {
        transform: translateX(0);
        opacity: 0;
    }
    to
    {
        transform: translateX(25%);
        opacity:1;
    }
}
nav{
    display: flex;
    justify-content:center;
}
.NavegacionPadreContainer
{
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    position:relative;
}
.boton
{
    flex-wrap: nowrap;
    background: linear-gradient(to right top, #191717, #1b1919, #1d1a1a, #1f1c1c, #211e1e, #312e2e, #423f3f, #545051, #7b787a, #a5a3a4, #d1d0d1, #ffffff);
    text-decoration: none;
    padding: 20px 50px;
    margin: 50px;
    border-radius: 15px;
    transition-duration: 1s;
}
.btn:hover
{
scale:150%;
background: linear-gradient(to left bottom, #191717, #1b1919, #1d1a1a, #1f1c1c, #211e1e, #312e2e, #423f3f, #545051, #7b787a, #a5a3a4, #d1d0d1, #ffffff);
box-shadow: 0 0 15px white;
cursor:pointer;
}
p{
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
}
.P_1{
    
    animation: Parrafos 4s ease 3s both;
}
.P_2{
    animation: Parrafos 4s ease 5s both;
}
@keyframes Parrafos {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
footer
{
    margin:20px 20px 0px 0px;
    display: flex;
    background: local;
    gap: 10px;
    justify-content: end;
}
footer img
{
    display: flex;
    width: 100px;
    height: auto;
    background: local;
    background-repeat: no-repeat;
}
footer h3
{
    font-size: 3rem;
}

/* Aqui finaliza el CSS del Index*/

/*vista Mobile Formacion*/

.navbar-custom .navbar-brand,.navbar-custom .navbar-nav .nav-link
{
    color: white !important;
    font-size: 25px;
}
.navbar-custom .navbar-brand img
{
    width: 60px;
    height: 60px;
}
.navbar-custom .navbar-nav .nav-link:hover
{
    background: linear-gradient(to left bottom, #191717, #1b1919, #1d1a1a, #1f1c1c, #211e1e, #312e2e, #423f3f, #545051, #7b787a, #a5a3a4, #d1d0d1, #ffffff);
}
.Contenedor_Perfil
{
    display:Grid;
    height: auto;
    grid-template-areas: 
    "foto "
    "Descripcion"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
   
}
.Foto_Perfil
{
    grid-area: foto;
    justify-self: center;
}
.Foto_Perfil img
{
    border-radius: 20%;
}
.Descripcion_Perfil
{
    grid-area: Descripcion;
    animation: Parrafos 2s ease .5s both;
}
.Descripcion_Perfil p
{
    margin: 25px 0px;
    text-align: center;
    font-size: 4rem;
}
.idiomas
{
    font-size: 4rem;
    margin:20px 0px 5px 20px;
    animation: Parrafos 2s ease .5s both;
}
.listaIdiomas
{
    margin: 0px 40px;
    font-size: 3rem;
    animation: Parrafos 2s ease 1s both;
}

/* Aqui finaliza el CSS de Sobre mi*/

/* Vista Mobile Formacion*/

.Estudios
{
    display: grid;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
    "Foto_UAI"
    "Descripcion_UAI"
    "Foto_UTN"
    "Descripcion_UTN"
    "Foto_Coder"
    "Descripcion_Coder"
    ;
    row-gap:20px;
}
.Logo_UAI
{
    grid-area: Foto_UAI;
    justify-self: center;
}
.Logo_UAI img
{
    height:300px ;
}
.Estudios_UAI
{
    grid-area: Descripcion_UAI;
}
.Logo_UTN
{
    grid-area: Foto_UTN;
}
.Estudios_UTN
{
    grid-area: Descripcion_UTN;
}
.Logo_Coder
{
    grid-area: Foto_Coder ;
}
.Logo_Coder img
{
    height: 300px;
    justify-self: center;
    margin: 0px 10px;
}
.Estudios_Coder
{
    grid-area: Descripcion_Coder;
}
.Parrafos-Estudios
{
    font-size: 3rem;
    text-align: justify;
    margin: 0px 20px;
}

/* Aqui finaliza el CSS de Formacion*/

form
{      
    
    background-color: #FFFFFF;	
    position: relative;	
    margin: 0vh 10vh 20vh 75vh;
    border-radius: 20px;
    padding: 15px 45px 15px 45px;
    max-width:500px;
    text-align: center;
}
form div{
    display: flex;
    flex-direction: column;
    text-align: left;
}
form h2
{
    color: black;
}
label
{
    color: black;
}
input, textarea
{
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 2px solid black;
    outline: none;
}
input
{
    margin-top: 10px;
    cursor: pointer;
}

/* aqui finaliza el CSS de Contacto*/

.Pasantia
{
    font-size: 35px;
    margin-bottom: 10px;
    color: white;
}
span
{
    font-size: 30px;
}
.ContainerTrabajo
{
    display: flex;
}
article ul
{
    padding-left: 35px;
    font-size: 30px;
    margin-top: 10px;
}
article ul li
{
    margin-top: 20px;
}
.ImagenesTrabajo
{
    display:inline;
    width: 500px;
    height: 500px;
    margin-left: 200px;
}
.ImagenesTrabajo img{
    
    width:200px;
    height: 200px;
    border-radius: 20px;
    margin: 10px;
}
.LogoRobotica
{
    background: white;
}

/*Vista Desktop*/

@media(min-width: 1024px)
{
    .Contenedor_Perfil{
        grid-template-columns: 450px 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "foto Descripcion"
        ;
    }
    .Descripcion_Perfil p
        {
            text-align: left;
            font-size: 2.4rem;
        }
    .Foto_Perfil
    {
        margin: 0px 20px;
    }
    .idiomas
    {
        font-size: 2rem;
    }
    .listaIdiomas
    {
        font-size: 1.5rem;
    }
    footer img
    {
        width: 50px;
    }
    footer h3
    {
    font-size: 2rem;
    }

    /*Fin Desktop SobreMi */

    /*Inicio Desktop Formacion */

    .Estudios
    {
        grid-template-columns: 400px auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "Foto_UAI Descripcion_UAI"
        "Foto_UTN Descripcion_UTN"
        "Foto_Coder Descripcion_Coder"
        ;
    }
    .Parrafos-Estudios
    {
        text-align: left;
        font-size: 2rem;
        align-self: center;
    }
    .Logo_UAI img
    {
        height: 200px;
    }
    .Logo_Coder img
    {
        height: 200px
    }
    .Logo_UTN img
    {
        height: 200px;
    }
}