$color-text-primary: white;
$color-text-secondary: black;
$font-family-primary: "IBM plex sans";
$font-size-title: 4em;
$font-size-subtitle: 3em;
$font-size-sub-subtitle:2.5em;
$font-size-text: 2em;
$background-project: black;
$background-card: rgba(7, 15, 88, 0.7);
$transition-card: transform 0.3s, box-shadow 0.3s;
$box-shadow-card:0 10px 20px rgba(0, 0, 255, 0.5);
$box-shadow-boton: 0 0 15px white;
$padding-footer: 30px;
$max-width-img-footer: 1.5em;
$grid-template-columns-size:1fr;
$margin-definido:25px;
$margin-index:25px 0px;
$height-index:50px;
$height-logo:300px;
$height-logo-responsive:200px;
$justify-logo: center;
$width-height-icon: 60px;
$max-width:100%;
