$color-text-primary: white;
$color-text-secondary: black;
$font-family-primary: "IBM Plex Serif", serif;
$background-project: url(../assest/img/solid-concrete-wall-textured-backdrop.jpg);
$font-size-title: 4rem;
$font-size-subtitle: 3rem;
$font-size-text: 2rem;
$background-boton: linear-gradient(to right top, #191717, #1b1919, #1d1a1a, #1f1c1c, #211e1e, #312e2e, #423f3f, #545051, #7b787a, #a5a3a4, #d1d0d1, #ffffff);
$padding-boton: 20px 50px;
$margin-boton: 50px;
$border-radius-boton: 15px;
$box-shadow-boton: 0 0 15px white;
$margin-footer: 20px 20px 0px 0px;
$max-width-img-footer: 100px;
$grid-template-columns-size:1fr;
$margin-definido:25px;
$height-logo:300px;
$justify-logo: center;
