footer
{   
    padding-top: $padding-footer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    div{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    img{
        display: flex;
        width: $max-width-img-footer;
        height: auto;
        background: local;
        background-repeat: no-repeat;
        &:hover{
            transform: translateY(-10px);
        }
    }
}
@include respond-to('desktop')
{
    footer img
    {
        width: 1.5em;
    }
}