body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
main
{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#particles-js
{
    width: 100%;
    height: 100vh;
    background: $background-project;
    z-index: -1;
    position: fixed;
}
#carouselExampleSlidesOnly {
    position: relative;
    width: 100%;
}
.carousel-inner img{
    background-position: center;
    height: 500px;
    object-fit: cover;
    width: 100%;
}
.hero-container
{
    text-align: center;
    padding: 150px 20px 100px 20px;
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: 10; 
    background: rgba(0, 0, 0, 0.5);
}

@mixin respond-to($media){
    @if $media == 'desktop'
    {
        @media(min-width: 1024px)
        {
            @content;
        }
    }
}

