.navbar-custom .navbar-brand,.navbar-custom .navbar-nav .nav-link
{
    color: $color-text-primary !important;
    font-size: $font-size-text;
    &:hover 
    {
        color: #00f !important;
    }
}
.navbar-custom .navbar-brand img
{
    width:$width-height-icon ;
    height:$width-height-icon;
}