.box-contacto{
    text-align: justify;
    h1,p,h2,ul{
        margin:$margin-definido;
    }
}

form
{   
    align-self: center;
    background: linear-gradient(
        5deg,
        rgb(181, 167, 197) 25%,
        rgba(33, 10, 167, 0.1)),
        url(/assest/img/fondo_form.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;   
    position: relative;	
    padding: 15px 45px 15px 45px;
    max-width:800px;
    text-align: center;
    div{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    
}
input, textarea
{
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 2px solid black;
    outline: none;
    color: $color-text-secondary;
}
input
{
    margin-top: 10px;
    cursor: pointer;
}
