.pasantia
{
    margin:$margin-definido;
    p{
        text-align: justify;
    }
}

.container-trabajo
{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "lista logo"
    ;

}
.container-trabajo-img
{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    grid-area: logo;
    img{
        width:200px;
        height: 200px;
        border-radius: 20px;
        margin: 15px 25px 15px 0px;
    }
}
.container-trabajo-descripcion
{
    grid-area: lista;
    ul{
        padding-left: 25px;
        li{
            margin: $margin-definido;
            text-align: justify;
        }
    }
}
.logo-robotica
{
    background: white;
}
@include respond-to('desktop'){

    .container-trabajo-img
    {
        flex-direction: row;
        flex-wrap: wrap;
        width:450px ;
        height: 600px;
    }
}